<p class="wp100"><span class="pr1em">收货人</span>：<span class="pl_5em">{{receiver}}</span><span class="pl20">{{reMobile}}</span></p>
<p class="wp100 pt10 p_r">
	<span class="ab">收货地址：</span>
    <span class="t_73 s_10 pl5_5em inline_block">
        <span>{{reAddress}}</span>
    </span>
</p>
