@charset "utf-8";
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}


/* 禁用iPhone中Safari的字号自动调整 */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 80%;
}

*, :after, :before {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 设置HTML5元素为块 */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}


/* 图片自适应 */

img {
    max-width: 100%;
    height: auto;
    width: auto \9;
    /* ie8 */
    -ms-interpolation-mode: bicubic;
    /*为了照顾ie图片缩放失真*/
}


/* 初始化 */

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Microsoft YaHei;
}

body {
    font-size: 1.2rem;
    position: relative;
    font-family: Microsoft YaHei, '宋体', Tahoma, Arial, sans-serif;
    color: #545454;
    background-color: #f7f7f7;
    line-height: 150%;
}

em, i {
    font-style: normal;
}

strong {
    font-weight: normal;
}

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #545454;
}

a:hover {
    text-decoration: none;
}

a.disabled {
    color: #bdbdbd !important;
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

img {
    border: none;
    vertical-align: bottom;
}

.va-m {
    vertical-align: middle !important;
}


/*公用基本样式*/

html, body {
    margin: 0px;
    height: 100%;
}

*:focus {
    outline: none;
}

input[type="text"], input[type="tel"], input[type="button"], input[type="search"], input[type="password"], button {
    -webkit-appearance: none;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 0.3rem;
}

textarea {
    resize: none;
}


/*错误提示*/

.error_tip {
    padding: 6px 10px;
    background: #fff2f1;
    border: 1px solid #ffa800;
    width: 100%;
    font-weight: bold;
}

.warning {
    background: #F64444;
    position: absolute;
    right: 10px;
    display: none;
    top: 10px;
    padding: 0 6px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.8rem;
}


/*内阴影*/

.shadow_in {
    -webkit-box-shadow: inset 0 20px 20px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 20px 20px rgba(0, 0, 0, 0.02);
}


/*border-radius*/

.b_radius0 {
    border-radius: 0px;
}

.b_radius3 {
    border-radius: 3px;
}

.b_radius4 {
    border-radius: 4px;
}

.b_radius6 {
    border-radius: 6px;
}

.b_radius8 {
    border-radius: 8px;
}

.b_radius20i {
    border-radius: 20px !important;
}

.b_radius50 {
    border-radius: 50%;
}


/*padding  内边距*/

.pb2 {
    padding-bottom: 2px;
}

.p4 {
    padding: 4px;
}

.pl4 {
    padding-left: 4px;
}

.pr4 {
    padding-right: 4px;
}

.pr2 {
    padding-right: 2px;
}

.pr14i {
    padding-right: 14px !important;
}

.pt4 {
    padding-top: 4px;
}

.pb4 {
    padding-bottom: 4px;
}

.plr4 {
    padding-left: 4px;
    padding-right: 4px;
}

.plr16 {
    padding-left: 16px;
    padding-right: 16px;
}

.plr60 {
    padding-left: 60px;
    padding-right: 60px;
}

.plr0_5em {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.ptb2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.ptb4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.p6 {
    padding: 6px;
}

.pl6 {
    padding-left: 6px;
}

.pl45 {
    padding-left: 45px;
}

.plr100 {
    padding-left: 100px;
    padding-right: 100px;
}

.pr16 {
    padding-right: 16px;
}

.pr6 {
    padding-right: 6px;
}

.pr56 {
    padding-right: 56px;
}

.pt6 {
    padding-top: 6px;
}

.pb6 {
    padding-bottom: 6px;
}

.plr6 {
    padding-left: 6px;
    padding-right: 6px;
}

.ptb6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.p8 {
    padding: 8px;
}

.pl8 {
    padding-left: 8px;
}

.pr8 {
    padding-right: 8px;
}

.pt8 {
    padding-top: 8px;
}

.pb8 {
    padding-bottom: 8px;
}

.plr8 {
    padding-left: 8px;
    padding-right: 8px;
}

.ptb8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p10 {
    padding: 10px;
}

.pl5 {
    padding-left: 5px;
}

.pl5em {
    padding-left: 5em;
}

.pl10 {
    padding-left: 10px;
}

.pl12 {
    padding-left: 12px;
}

.pl70 {
    padding-left: 70px;
}

.pl35i {
    padding-left: 35px !important;
}

.pr10 {
    padding-right: 10px;
}

.pt12 {
    padding-top: 12px;
}

.pt1em {
    padding-top: 1em;
}

.pt10 {
    padding-top: 10px;
}

.pt14 {
    padding-top: 14px;
}

.pt18 {
    padding-top: 18px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb14 {
    padding-bottom: 14px;
}

.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.plr12 {
    padding-left: 12px;
    padding-right: 12px;
}

.plr14 {
    padding-left: 14px;
    padding-right: 14px;
}

.p15 {
    padding: 15px;
}

.pl15 {
    padding-left: 15px;
}

.pl16 {
    padding-left: 16px;
}

.pl100 {
    padding-left: 100px;
}

.pr15 {
    padding-right: 15px;
}

.pt15 {
    padding-top: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.plr15 {
    padding-left: 15px;
    padding-right: 15px;
}

.ptb15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p20 {
    padding: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pr22 {
    padding-right: 22px;
}

.pt20 {
    padding-top: 20px;
}

.pt14 {
    padding-top: 14px;
}

.pb20 {
    padding-bottom: 20px;
}

.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}

.plr2 {
    padding-left: 2px;
    padding-right: 2px;
}

.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt20b10 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.pl20r10 {
    padding-left: 20px;
    padding-right: 10px;
}

.p25 {
    padding: 25px;
}

.pl25 {
    padding-left: 25px;
}

.pr25 {
    padding-right: 25px;
}

.pt25 {
    padding-top: 25px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb3 {
    padding-bottom: 3px;
}

.plr25 {
    padding-left: 25px;
    padding-right: 25px;
}

.ptb25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p30 {
    padding: 30px;
}

.pl30 {
    padding-left: 30px;
}

.pl32 {
    padding-left: 32px;
}

.pr30 {
    padding-right: 30px;
}

.pt30 {
    padding-top: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.plr30 {
    padding-left: 30px;
    padding-right: 30px;
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p40 {
    padding: 40px;
}

.pl40 {
    padding-left: 40px;
}

.pr40 {
    padding-right: 40px;
}

.pt40 {
    padding-top: 40px;
}

.pt50 {
    padding-top: 50px;
}

.pl60 {
    padding-left: 60px;
}

.pt60 {
    padding-top: 60px;
}

.pb40 {
    padding-bottom: 40px;
}

.plr40 {
    padding-left: 40px;
    padding-right: 40px;
}

.plr60 {
    padding-left: 60px;
    padding-right: 60px;
}

.ptb40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pt120 {
    padding-top: 60px;
}

.ptb60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pt90 {
    padding-top: 90px;
}


/*margin  外边距*/

.mlr_auto {
    margin-left: auto;
    margin-right: auto;
}

.m4 {
    margin: 4px;
}

.ml4 {
    margin-left: 4px;
}

.ml20 {
    margin-left: 20px;
}

.mr2 {
    margin-right: 2px;
}

.mr4 {
    margin-right: 4px;
}

.mt4 {
    margin-top: 4px;
}

.mt1em {
    margin-top: 1em;
}

.mb4 {
    margin-bottom: 4px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb1r {
    margin-bottom: 1rem;
}

.mlr4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mlr6 {
    margin-left: 6px;
    margin-right: 6px;
}

.mtb4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.mt6 {
    margin-top: 6px;
}

.mr6 {
    margin-right: 6px;
}

.m8 {
    margin: 8px;
}

.ml8 {
    margin-left: 8px;
}

.mr8 {
    margin-right: 8px;
}

.mt8 {
    margin-top: 8px;
}

.mb8 {
    margin-bottom: 8px;
}

.mlr8 {
    margin-left: 8px;
    margin-right: 8px;
}

.mtb8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.m10 {
    margin: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt14 {
    margin-top: 14px;
}

.mb10 {
    margin-bottom: 10px;
}

.mlr10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m15 {
    margin: 15px;
}

.ml15 {
    margin-left: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mt15 {
    margin-top: 15px;
}

.mt16 {
    margin-top: 16px;
}

.mt17 {
    margin-top: 17px;
}

.mb15 {
    margin-bottom: 15px;
}

.mlr15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mtb15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.m20 {
    margin: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mt24 {
    margin-top: 24px;
}

.mt120 {
    margin-top: 120px;
}

.mt30 {
    margin-top: 30px;
}

.mb20 {
    margin-bottom: 20px;
}

.mlr20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m25 {
    margin: 25px;
}

.ml25 {
    margin-left: 25px;
}

.mr25 {
    margin-right: 25px;
}

.mt25 {
    margin-top: 25px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt5 {
    margin-top: 5px;
}

.mt60 {
    margin-top: 60px;
}

.mt240 {
    margin-top: 240px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mlr25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mtb25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mb70 {
    margin-bottom: 70px;
}

.ml-80 {
    margin-left: -80px;
}

.mr-12 {
    margin-right: -12px;
}

.mt-04r {
    margin-top: 0.4rem;
}


/*border*/

.nobr {
    border: 0;
}

.b_bd {
    border: 1px solid #E6E6E6;
}

.b_bd_lr {
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
}

.b_bd_tb {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.b_bd_t {
    border-top: 1px solid #E6E6E6;
}

.b_bd_r {
    border-right: 1px solid #E6E6E6;
}

.b_bd_b {
    border-bottom: 1px solid #E6E6E6;
}

.b_bd_l {
    border-left: 1px solid #E6E6E6;
}

.b_red {
    border: 1px solid #ff7200;
}

.b_red_lr {
    border-left: 1px solid #ff7200;
    border-right: 1px solid #ff7200;
}

.b_red_tb {
    border-top: 1px solid #ff7200;
    border-bottom: 1px solid #ff7200;
}

.b_red_t {
    border-top: 1px solid #ff7200;
}

.b_red_r {
    border-right: 1px solid #ff7200;
}

.b_red_b {
    border-bottom: 1px solid #ff7200;
}

.b_red_l {
    border-left: 1px solid #ff7200;
}

.b_e6 {
    border: 1px solid #e6e6e6;
}

.b_e6_lr {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.b_e6_tb {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.b_e6_t {
    border-top: 1px solid #e6e6e6;
}

.b_e6_r {
    border-right: 1px solid #e6e6e6;
}

.b_e6_b {
    border-bottom: 1px solid #e6e6e6;
}

.b_e6_l {
    border-left: 1px solid #e6e6e6;
}

.b_e4 {
    border: 1px solid #e4e4e4;
}

.b_e4_lr {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.b_e4_tb {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.b_e4_t {
    border-top: 1px solid #e4e4e4;
}

.b_e4_r {
    border-right: 1px solid #e4e4e4;
}

.b_e4_b {
    border-bottom: 1px solid #e4e4e4;
}

.b_e4_l {
    border-left: 1px solid #e4e4e4;
}

.b_f7 {
    border: 1px solid #f7f7f7;
}

.b_f7_lr {
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
}

.b_f7_tb {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.b_f7_t {
    border-top: 1px solid #f7f7f7;
}

.b_f7_r {
    border-right: 1px solid #f7f7f7;
}

.b_f7_b {
    border-bottom: 1px solid #f7f7f7;
}

.b_f7_l {
    border-left: 1px solid #f7f7f7;
}

.nobr_l {
    border-left: 0;
}

.nobr_t {
    border-top: 0;
}

.nobr_b {
    border-bottom: 0;
}

.nobr_r {
    border-right: 0;
}

.b_sd {
    border-style: dotted;
}

.b_cy {
    border-top: 2px solid #F3AF42;
}

.b_cg {
    border-color: #0CC4BC;
}


/*背景颜色*/

.bg_fff {
    background: #fff;
}

.bg_0088e7 {
    background: #0088e7;
}

.bg_f09f57 {
    background: #f09f57;
}

.bg_ff7200 {
    background: #ff7200;
}

.bg_f7 {
    background: #f7f7f7;
}

.bg_728391 {
    background: #728391;
}

.bg_7cc0ff {
    background: #7cc0ff;
}

.bg_f5 {
    background-color: #F5F5F5;
}

.bg_ff0000 {
    background-color: #ff0000;
}

.bg_fa {
    background-color: #FAFAFA;
}

.bg_faa756 {
    background-color: #FAA756;
}

.bg_f7f9fa {
    background-color: #F7F9FA;
}

.bg_f2f4f5 {
    background-color: #F2F4F5;
}

.bg_999 {
    background-color: #999;
}

.bg_f64444 {
    background-color: #F64444;
}

.bg_dd3d3d {
    background-color: #DD3D3D;
}


/*text  字体颜色*/

.t_white {
    color: #fff;
}

.t_bd {
    color: #bdbdbd;
}

.t_green {
    color: #578f00;
}

.t_orange {
    color: #ff7200;
}

.t_blue {
    color: #0056b6;
}

.t_d5 {
    color: #d5d5d5;
}

.t_red {
    color: #f00;
}

.t_aaa {
    color: #aaa;
}

.t_999 {
    color: #999;
}

.t_323232 {
    color: #323232;
}

.t_333 {
    color: #333;
}

.t_666 {
    color: #666;
}

.t_6b {
    color: #6b6b6b;
}

.t_bluelight {
    color: #00c0ff;
}

.t_bluelight2 {
    color: #0072ff;
}

.t_black {
    color: #000;
}

.t_greenlight {
    color: #009d30;
}

.t_908B8B {
    color: #908B8B;
}

.t_3fb2fb {
    color: #3FB2FB;
}

.t_80 {
    color: #808080;
}

.t_f64444 {
    color: #F64444;
}

.t_73 {
    color: #737373;
}

.t_ff0000 {
    color: #ff0000;
}

.t_4d {
    color: #4D4D4D;
}

.t_21b504 {
    color: #21B504;
}

.t_ed2b2b {
    color: #ED2B2B;
}

.t_40pe {
    color: rgb(40%, 40%, 40%);
}

.t_60pe {
    color: rgb(60%, 60%, 60%);
}

.t-i2 {
    text-indent: 2.4rem;
}

.t-i2em {
    text-indent: 2em;
}


/*text 文字对齐*/

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}


/*text  一行超出显示省略号*/

.t_norwrap {
    width: 100%;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.t_bold {
    font-weight: bold;
}

.t_under {
    text-decoration: underline;
}


/*float  浮动*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.fnone {
    float: none;
}

.fcb {
    clear: both;
}


/*font-size  字体大小*/

.s_07 {
    font-size: 0.7rem;
}

.s_08 {
    font-size: 0.8rem;
}

.s_09 {
    font-size: 0.9rem;
}

.s_09_5 {
    font-size: 0.95rem;
}

.s_10 {
    font-size: 1.0rem;
}

.s_11 {
    font-size: 1.1rem;
}

.s_12 {
    font-size: 1.2rem;
}

.s_125 {
    font-size: 1.25rem;
}

.s_13 {
    font-size: 1.3rem;
}

.s_14 {
    font-size: 1.4rem;
}

.s_16 {
    font-size: 1.6rem;
}

.s_18 {
    font-size: 1.8rem;
}

.s_20 {
    font-size: 2.0rem;
}

.s_22 {
    font-size: 2.2rem;
}

.s_24 {
    font-size: 2.4rem;
}

.s_30 {
    font-size: 3.0rem;
}

.s_40 {
    font-size: 4.0rem;
}

.s_50 {
    font-size: 5.0rem;
}


/*宽度*/

.wp10 {
    width: 10%;
}

.wp15 {
    width: 15%;
}

.wp22p {
    width: 22px;
}

.wp20 {
    width: 20%;
}

.wp24 {
    width: 24%;
}

.wp25 {
    width: 25%;
}

.wp26 {
    width: 26%;
}

.wp28 {
    width: 28%;
}

.wp30 {
    width: 30%;
}

.wp35 {
    width: 35%;
}

.wp33 {
    width: 33.33333333333333%;
}

.wp36 {
    width: 36%;
}

.wp38 {
    width: 38%;
}

.wp40 {
    width: 40%;
}

.wp45 {
    width: 45%;
}

.wp49 {
    width: 49%;
}

.wp50 {
    width: 50%;
}

.wp55 {
    width: 55%;
}

.wp60 {
    width: 60%;
}

.wp60p {
    width: 60px;
}

.wp62 {
    width: 62%;
}

.wp70 {
    width: 70%;
}

.wp72 {
    width: 72%;
}

.wp75 {
    width: 75%;
}

.wp76 {
    width: 76%;
}

.wp80 {
    width: 80%;
}

.wp82 {
    width: 82%;
}

.wp90 {
    width: 90%;
}

.wp100 {
    width: 100%;
}

.w60p {
    width: 60px;
}

.w50p {
    width: 50px;
}

.wp225p {
    width: 225px;
}

.wp240p {
    width: 240px;
}

.w70p {
    width: 70px;
}

.w80p {
    width: 80px;
}

.wp27p {
    width: 27px;
}

.wp44p {
    width: 44px;
}

.wp48p {
    width: 48px;
}

.wp34p {
    width: 34px;
}

.wp20p {
    width: 20px;
}

.wp30p {
    width: 30px;
}

.wp32p {
    width: 32px;
}

.wp1em {
    width: 1em;
}

.wp3em {
    width: 3em;
}


/*高度*/

.hp100 {
    height: 100%;
}

.hp170p {
    height: 170px
}

.hp42p {
    height: 42px;
}

.hp30p {
    height: 30px;
}

.hp20p {
    height: 20px;
}

.hp48p {
    height: 48px;
}

.hp50p {
    height: 50px;
}

.hp60p {
    height: 60px;
}

.hp104p {
    height: 104px;
}

.hp84p {
    height: 84px;
}

.hp132p {
    height: 132px;
}

.hp62p {
    height: 62px;
}

.hp1em {
    height: 1em;
}

.hp26p {
    height: 26px;
}

.hp18p {
    height: 18px;
}


/*定位*/

.re {
    position: relative;
    display: inline-block;
}

.p_r {
    position: relative;
}

.ab {
    position: absolute;
}

.ab_r {
    right: 0;
}

.ab_r20 {
    right: 20px;
}


/*border-radius*/

.br_50 {
    border-radius: 50%;
    overflow: hidden;
}

.br_4p {
    border-radius: 4px;
}

.br_10p {
    border-radius: 10px;
}


/*display*/

.hidden {
    display: none !important;
}

.show {
    display: block;
}

.inline_block {
    display: inline-block;
}

.inline {
    display: inline;
}


/*右箭头*/

.arrow_r, .arrow_r2, .arrow_b {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid #dedede;
    border-left: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
}

.arrow_r2 {
    border: 1px solid #757575;
    border-left: 0;
    border-bottom: 0;
}

.arrow_b {
    border: 1px solid #757575;
    border-left: 0;
    border-top: 0;
}

.solidtop {
    border-top: 1px rgb(90%, 90, 90%) solid;
    flex: 1;
    display: block;
}


/*其他*/

.rotate_20 {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.t_under {
    text-decoration: underline;
}

.bf_dashed_b {
    border-bottom: 1px dashed #fff;
}

.fixft a.active {
    color: #ff0000;
}

.fix_b {
    position: fixed;
    bottom: 40px;
    width: 100%;
}

.nobr_ra {
    border-radius: 0;
}


/*linheight*/

.lh40 {
    line-height: 40px;
}

.lh45 {
    line-height: 45px;
}

.lh30 {
    line-height: 30px;
}

.lh16 {
    line-height: 16px;
}

.lh26 {
    line-height: 26px;
}

.lh32 {
    line-height: 32px;
}

.lh36 {
    line-height: 36px;
}

.lh48 {
    line-height: 48px;
}

.lh100 {
    line-height: 100% !important;
}

.lh120 {
    line-height: 120% !important;
}

.lh150 {
    line-height: 150% !important;
}

.lh09rem {
    line-height: 0.9rem !important;
}

.lh15rem {
    line-height: 1.5rem !important;
}

.lh16em {
    line-height: 1.6em !important;
}

.lh2rem {
    line-height: 2rem !important;
}

.lh3rem {
    line-height: 3rem !important;
}

.lh3_5rem {
    line-height: 3.5rem !important;
}

.lh3em {
    line-height: 3em !important;
}

.lh3_1em {
    line-height: 3.1em !important;
}

.lh3_5em {
    line-height: 3.5em !important;
}

.lh4em {
    line-height: 4em !important;
}

.lh4rem {
    line-height: 4rem !important;
}

.lh2em {
    line-height: 2em !important;
}

.lh2_5em {
    line-height: 2.5em !important;
}

.lh1_5em {
    line-height: 1.5em !important;
}

.lh1_2em {
    line-height: 1.2em !important;
}

.lh1em {
    line-height: 1em !important;
}

.h2_4em {
    height: 2.4em;
}

.color0 {
    text-indent: -2000px;
}


/*position*/

.fixft {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 11;
}


/*透明度*/

.opac0 {
    opacity: 0;
}

.opac1 {
    opacity: 1;
}


/*布局*/

.flex {
    display: -webkit-box;
    display: flex;
}

.flex1 {
    -webkit-box-flex: 1;
    flex: 1
}

.flex2 {
    -webkit-box-flex: 2;
    flex: 2
}

.flex3 {
    -webkit-box-flex: 3;
    flex: 3
}

.flex4 {
    -webkit-box-flex: 4;
    flex: 4
}

.flex5 {
    -webkit-box-flex: 5;
    flex: 5
}

.flex6 {
    -webkit-box-flex: 6;
    flex: 6
}

.flex-dv {
    -webkit-box-orient: vertical;
    flex-direction: column;
}

.flex-c {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
}

.flex-jb {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.flex>a {
    display: block;
}

.flex-fw {
    flex-wrap: wrap;
}

.hfoot {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1rem !important;
}

.hfoot img {
    height: 22px;
}

.hfoot a {
    color: #666666;
}

.hcont ul>li:last-child, .hcont>ul:last-child {
    border-bottom: none;
}

.icon-loading {
    background: url(../images/loading.gif) 50% 56% no-repeat;
    width: 100%;
    display: block;
    position: fixed;
    top: -62px;
    height: 100%;
    left: 0;
    /*background-color: #fff;*/
    z-index: 999;
}

.icon-loading1 {
    background: url(../images/loading.gif) center no-repeat;
    width: 100%;
    display: block;
    height: 500px;
}

.icon-loading3 {
    background: url(../images/loading.gif) center no-repeat;
    width: 100%;
    display: block;
    height: 140px;
}

.bg_pc {
    background-position: center center;
}

#ml-head-ul li span, #status_ul li span {
    border-bottom: 2px solid transparent;
}

#ml-head-ul li.active span, #status_ul li.active span {
    border-bottom: 2px solid red;
}

.fixtop {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

table {
    border-collapse: collapse;
    border: 1px solid #E6E6E6;
    table-layout: fixed;
}

table th {
    color: #808080;
}

table td {
    color: #323232;
}

table th, table td {
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #E6E6E6;
    text-align: center;
}

#bb-table th, #bb-table td {
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: normal;
    word-wrap: break-word;
}

.addr-table th {
    text-align: right;
}

.addr-table td {
    text-align: left;
    padding-left: 20px;
}

.addr-table tr {
    height: 50px;
}

.addr-table th, .addr-table td {
    border: none;
    border-bottom: 1px solid #E6E6E6;
    color: #323232;
    font-weight: normal;
}

.addr-table input {
    line-height: 1.2rem;
    font-size: 1.2rem;
    width: 100%;
}

.swiper-container1 .swiper-slide {
    padding: 6px;
    width: 366px;
    text-align: center;
}

.swiper-container1 .swiper-slide img {
    border: 2px solid transparent;
}

.swiper-container1 .swiper-slide.swiper-slide-active img {
    border: 2px solid red;
}

.overhide {
    overflow: hidden;
}

.swiper-container1 .swiper-pagination-bullets {
    bottom: -12px !important;
}

.swiper-container1 .swiper-slide img {
    height: 304px;
}

@media only screen and (max-width: 1024px) {
    .swiper-container1 .swiper-slide img {
        height: 160px;
    }
    .swiper-container1 .swiper-slide {
        width: 246px;
    }
}

@media only screen and (max-width: 735px) {
    .swiper-container1 .swiper-slide img {
        height: 120px;
    }
    .swiper-container1 .swiper-slide {
        width: 173.75px;
    }
}

@media only screen and (max-width: 480px) {
    .swiper-container1 .swiper-slide img {
        height: 66px;
    }
    .swiper-container1 .swiper-slide {
        width: 83.75px;
    }
}

.no-buy-btn {
    background-color: #EEEEEE !important;
}

.l_icon {
    display: inline-block;
    width: 70px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
}

.bg_m_icon {
    background: url(../images/m-icon.png) center no-repeat;
}

.bg_p_icon {
    background: url(../images/p-icon.png) center no-repeat;
}

.login_input {
    line-height: 60px;
}

.login_input>div {
    position: relative;
}

.login_input input {
    width: 100%;
    padding-left: 70px;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.login_input img {
    width: 20px;
}

.r-login {
    display: inline-block;
    width: 100px;
    border: 1px solid #F64444;
    color: #F64444;
    font-size: 1.2rem;
    border-radius: 4px;
}

.mobile-verification, .photo-verification {
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    font-size: 1rem;
}

.photo-verification img {
    width: auto;
    line-height: 0;
    vertical-align: middle;
}

.mobile-verification a {
    width: 100%;
    background-color: #F64444;
    color: #fff;
    line-height: 44px;
    text-align: center;
    border-radius: 4px;
}

.pr100p {
    padding-right: 100px;
}

.pr1em {
    padding-right: 1em;
}

.pr2em {
    padding-right: 2em;
}

.pl5rem {
    padding-left: 5rem;
}

.pl5_5rem {
    padding-left: 5.5rem;
}

.pl5_5em {
    padding-left: 5.5em;
}

.pl_5rem {
    padding-left: 0.5rem;
}

.pl_5em {
    padding-left: 0.5em;
}

.register_verifycon {
    display: none;
    width: 100%;
    background-color: #FAFFBD;
    font-size: 1rem;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    line-height: 1.5em;
}

.register_warning {
    right: 100px;
}

.r-tip, .r-tip1 {
    position: absolute;
    height: 100%;
    width: 16px;
    right: 10px;
    top: 0;
}

.r-tip {
    background: url(../images/r-tips.png) center no-repeat;
}

.r-tip1 {
    background: url(../images/r-tips1.png) center no-repeat;
}

.radio-tip {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 50%;
    border: 1px solid #F64444;
}

.radio-tip.active>i, .radio-tip1.active>i {
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #F64444;
    left: 1px;
    top: 1px;
}

.radio-tip1 {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 50%;
    border: 1px solid #F64444;
}

.cart-cont-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20px;
}

.address-bottom {
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    background: url(../images/address-b.png) left top repeat-x;
}

.radio-chose {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #F64444;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.radio-chose img {
    display: none;
}

.radio-chose.active img {
    display: inline-block;
}

.del-icon {
    position: absolute;
    right: 10px;
    bottom: 8px;
    width: 20px;
}

.cart-foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid #bdbdbd;
    background-color: #fff;
    line-height: 3.5em;
}

.ab_l0 {
    left: 0;
}

.pl24 {
    padding-left: 24px;
}

.pl28 {
    padding-left: 28px;
}

.wp34 {
    width: 34%;
}

.wp66 {
    width: 66%;
}

.wp16p {
    width: 16px;
}

.wp18p {
    width: 18px;
}

.bg_transparent {
    background-color: transparent;
}

.top_0 {
    top: 0;
}

.pay-success-icon {
    width: 100px;
}

.t_i2 {
    text-indent: 2em;
}

.t_6698eb {
    color: #6698EB;
}

.b_6698eb {
    border: 1px solid #6698EB;
}

.b_f64444 {
    border: 1px solid #F64444;
}

.br_f64444 {
    border-right: 1px solid #F64444;
}

.br_#e6e6e6 {
    border-right: 1px solid #e6e6e6;
}

.button {
    display: inline-block;
    padding: 0 4px;
    border-radius: 4px;
}

.button1 {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
}

.wd-table {
    border: none;
}

.wd-table th, .wd-table td {
    border: none;
}

.wd-table th {
    color: #323232;
    text-align: right;
    font-weight: normal;
}

.wd-table td {
    text-align: left;
}

.wd-table input {
    line-height: 2em;
    border: 1px solid #E6E4E3;
    width: 86%;
}

.wd-table tr {
    padding-top: 4px;
    padding-bottom: 4px;
}

.border2pfff {
    border: 2px solid rgba(255,255,255,0.45);
}

.scroll-loadding {
    background: url(../images/loading.gif) center no-repeat;
    display: block;
    width: 100%;
    height: 93px;
}

.r_10 {
    right: 10px;
}

.b_18 {
    bottom: 18px;
}

.ol-head {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.shadow-box {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 256px rgba(255, 255, 255, .3);
}

.od-dialog {
    position: fixed;
    top: 50%;
    left: 10%;
    border-radius: 10px;
    line-height: 2em;
    margin-top: -77px;
    z-index: 111;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .618;
    z-index: 110;
}

.od-okbtn {
    border-right: 1px solid #E6E6E6;
    color: #f64444;
    border-radius: 0 0 0 10px;
}

.bottom_80 {
    bottom: 80px;
}

.top_4 {
    top: 4px;
}

.a_s_span {
    width: 26px;
    height: 26px;
    display: inline-block;
    border: 1px solid rgb(90%, 90%, 90%);
    border-radius: 6px;
    position: relative;
    top: -2px;
}

.a_s_span img {
    width: 18px;
}

.hcont>ul>li img, #items-cont>ul>li img, #ol-ul>li img, #od-ul li img, .max-hp100 img {
    max-height: 100px;
}

.hIdx-popular-r {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    text-align: center;
}

.popular-r-t {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.popular-r-b {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.ml_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.al_addr_del {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 56px;
    color: #fff;
    background: #f50;
    cursor: pointer;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.z_index0 {
    z-index: 0;
}

.z_index10 {
    z-index: 10;
}

.line-tow {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ui-phone-icon {
    height: 1.2em;
    margin-right: 4px;
    vertical-align: middle;
}

.break-word {
    word-wrap: break-word;
    word-break: break-all;
}

.about-a {
    text-decoration: underline;
    color: #6698eb;
    display: inline;
}

.max-hp15em {
    max-height: 1.5em;
}

.ml-img {
    position: absolute;
    left: 10px;
    top: 8px;
}

.mr-img {
    position: absolute;
    right: 10px;
    top: 8px;
}

.mr-img1 {
    position: absolute;
    right: 10px;
    top: 11px;
    width: 22px;
}

.mr-img2 {
    position: absolute;
    right: 10px;
    width: 22px;
    top: 23px;
}

.w10p {
    width: 10px;
}

.ml-updown {
    position: absolute;
    right: 4px;
    top: 6px;
}

.w22p {
    width: 22px;
}

.pl24 {
    padding-left: 24px;
}

.bg_e3e3e5 {
    background-color: #E3E3E5;
}

.search-select {
    width: 24%;
    height: 30px;
    line-height: 30px;
    padding: 0 4px;
    color: #999;
    font-size: 14px;
    position: absolute;
    margin-top: 5px;
}

.search-input {
    width: 100%;
    padding-left: 20px;
    padding-right: 44px;
    height: 34px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.bg_f6 {
    background-color: #F6F6F6;
}

#searchUl li {
    padding: 6px 10px;
    border-bottom: 1px solid #e6e6e6;
}


/*#searchUl li:last-child {
    border-bottom: none;
}*/

.p_fixed {
    position: fixed;
}

.hp55p {
    height: 55px;
}

.hp72p {
    height: 72px;
}

.applym .content-wrap {
    padding: 0 10px 120px;
}

.form-field .field-hd {
    font-size: 1rem;
    padding: 13px 0 8px;
}

.form-field .required {
    vertical-align: middle;
    color: #c10000;
}

.form-field .refund-desc {
    padding-left: 20px;
}

.form-field textarea {
    width: 100%;
    height: 114px;
    padding: 0 10px;
    padding-top: 12px;
    font-size: 1rem;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    border-top-color: #e9e9e9;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    margin-left: -20px;
    -webkit-appearance: none;
    resize: none;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.form-field .refund-desc .J_Counter {
    display: none;
}

.new-form-action {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    margin: 0!important;
    padding: 0!important;
}

.form-action .btn, .form-action .primary-btn {
    margin-top: 10px;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 39px;
    line-height: 39px;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #DD2727;
    border: 1px solid #DD2727;
    text-decoration: none;
}

.new-form-action .primary-btn {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    display: inline-block;
    border: 0;
    height: auto;
    line-height: inherit;
    margin: 0;
}

.form-field .refund-desc-active {
    position: relative;
}

.form-field .refund-desc-active .J_Counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
}

.index-table, .mall_list_table {
    border: none;
    margin-top: 10px;
}

.index-table tr td div.it-f {
    display: inline-block;
    float: left;
    line-height: 1em;
    text-align: left;
    word-wrap: break-word;
}

.index-table th, .index-table td {
    border: none;
    text-align: left;
    width: 33%;
}

.nowrap {
    overflow: visible;
    white-space: nowrap;
}

.mall_list_table th, .mall_list_table td {
    border: none;
    text-align: center;
}

.mall_list_table tr>td {
    padding-left: 10px;
    padding-right: 10px;
}

.mall_list_table th, .mall_list_table td {
    padding-top: 0;
    padding-bottom: 20px;
}

.icon-loading2 {
    background: url(../images/loading.gif) center no-repeat;
    width: 100%;
    display: block;
    background-color: #fff;
    z-index: 999;
    height: 130px;
}

.index-rmtj {
    border: none;
    width: 100%;
}

.index-rmtj th, .index-rmtj td {
    border: none;
    text-align: center;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
    width: 50%;
}

.over-hide {
    overflow: hidden;
}

.zIndex900 {
    z-index: 900;
}

.zIndex901 {
    z-index: 901;
}

.overwrap {
    overflow-wrap: break-word;
}

.cart-down {
    position: absolute;
    bottom: 10px;
    left: 34px;
    font-size: 1.2rem;
}

.searchInput {
    height: 44px;
    padding-left: 20px;
    padding-right: 44px;
    width: 100%;
    font-size: 1.2rem;
}

.withdraw-table {
    table-layout: auto;
    border: none;
}

.withdraw-table th, .withdraw-table td {
    border: none;
}

.withdraw-table input {
    width: 96%;
    font-size: 1.2rem;
    line-height: 1em;
    padding: 4px;
    border: 1px solid #E6E4E3;
}

.withdraw-table th {
    text-align: right;
    padding-right: 4px;
    color: #323232;
    font-weight: normal;
}

.withdraw-table td {
    text-align: left;
    padding-left: 4px;
}

.recharge-ul .active {
    border-bottom: 2px solid #f64444;
    color: #f64444;
}

.ol_total_p {
    position: absolute;
    right: 10px;
    bottom: -1em;
}

.consume-tl {
    position: absolute;
    width: 70px;
    font-size: 1.2rem;
    margin-top: -15px;
    top: 50%;
    color: #fff;
    z-index: 2;
}

.consume-ml {
    top: 12px;
    width: 20px;
    position: absolute;
    left: 10px;
}

.consume-fl {
    padding-top: 80px;
}

.consume-sul {
    right: 10px;
    position: fixed;
    left: 10px;
    top: 48px;
    z-index: 999;
}

.consume-table {
    font-size: 0.9rem;
    border: none;
}

.consume-table td {
    width: 20%;
    position: relative;
    padding: 0 10px;
}

.consume-table td, .consume-table th {
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}

.consume-top-span {
    position: absolute;
    bottom: 0;
    display: block;
    overflow: visible;
    white-space: nowrap;
    width: 100%;
    left: 0;
    text-align: center;
}

.pb2em {
    padding-bottom: 2em;
}

.consume-cont .good-div {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.consume-cont .good-div img {
    width: 16px;
    vertical-align: middle;
}

.hp256p {
    height: 256px;
}

.hp266p {
    height: 266px;
}

.bg_efdade {
    background-color: #EFDADE;
}

.cons-list {
    position: fixed;
    z-index: 999;
    top: 40px;
}

.consume-detail-btn {
    padding: 4px 30px;
    border-radius: 4px;
    font-size: 1.1rem;
}

.consume_ul {
    border-top: 1px solid #E6E6E6;
    top: 102px;
    bottom: 0;
    position: absolute;
    overflow: auto;
}

.consume_ul li, .consume_ul1 li {
    padding-left: 36px;
    line-height: 3em;
    border-bottom: 1px solid #E6E6E6;
    font-size: 1.1rem;
}

.consume_ul1 {
    border-top: 1px solid #E6E6E6;
}

.clist_div {
    z-index: 120;
    position: absolute;
    top: 102px;
    font-size: 1rem;
}

.consume_list_div {
    position: absolute;
    top: 72px;
    font-size: 1rem;
    z-index: 901;
    bottom: 0;
}

.consume_ul li.on, .consume_ul1 li.on {
    background: #f64444;
    color: #fff;
}

.btn {
    width: 60px;
    height: 34px;
    border-radius: 4px;
    background: #f64444;
    color: #fff;
}

.consume-top-a {
    position: absolute;
    right: 10px;
    top: 11px;
    display: inline-block;
    height: 30px;
}

.consume-list-top-line {
    display: inline-block;
    margin: 0 10px;
    border-left: 1px solid #e6e6e6;
    height: 1em;
    vertical-align: middle;
}

.mh100 {
    max-height: 100%;
}

.mh100p {
    max-height: 100px;
}

.center-img, .center-img1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.center-img1 {
    max-width: none !important;
    max-height: none !important;
}

.mall-up-down {
    position: absolute;
    width: 40px;
    background-color: #fff;
    z-index: 10;
    text-align: center;
    height: 42px;
    border-left: 1px solid #e6e6e6;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 0;
}

.mall-up-down.down-arrow {
    border-bottom: 1px solid #e6e6e6;
}

.up-arrow {
    background-image: url(../images/up-arrow.png);
}

.down-arrow {
    background-image: url(../images/down-arrow.png);
}

.mall-mask {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
}

.ml-top-fl {
    line-height: 42px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    width: 100%;
}

.ml-top-item {
    line-height: 3em;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 42px;
}

.ml-top-item li.current {
    color: #f64444;
}

.hp254p {
    height: 254px;
}

.cartImg {
    width: 110px;
    border-radius: 100%;
    background: #ccc;
    height: 110px;
    text-align: center;
    margin: 0 auto;
    font-size: 0;
}

.cartImg-after {
    display: inline-block;
    width: 0;
    height: 110px;
    vertical-align: middle;
}

.cartImg-img {
    width: 60px;
    vertical-align: middle;
}

.cart-shop {
    padding: 2px 20px;
    display: inline-block;
    border: 1px solid #051b28;
    border-radius: 4px;
}

.default-bg {
    background-image: url(../images/default-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    overflow: hidden
}

.consume-center-wrap {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 0;
    top: 0;
    overflow: hidden;
}

.consume-right-wrap {
    padding-left: 112px;
}
.consume-right-wrap>div {
    min-height: 100px;
    position: relative;
}

.min-h80p {
    min-height: 80px;
}

.min-h100p {
    min-height: 100px;
}

.order-img-wrap {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 0;
    top: 0;
    overflow: hidden;
}

.order-right-wrap {
    padding-left: 112px;
    min-height: 100px;
}

.top4 {
    top: 4px !important;
}

.top15 {
    top: 15px !important;
}

.right0 {
    right: 0 !important;
}

.cart-center-img-a {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.am-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .4);
}

.am-modal-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.am-modal {
    position: relative;
    width: 300px;
    height: auto;
}

.am-modal-content {
    position: relative;
    background-color: #fff;
    border: 0;
    background-clip: padding-box;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.am-modal.am-modal-operation .am-modal-content {
    border-radius: 4px;
    height: auto;
    padding-top: 0;
}

.am-modal-body {
    font-size: .28rem;
    color: #888;
    height: 100%;
    overflow: auto;
}

.am-modal.am-modal-operation .am-modal-content .am-modal-body {
    padding: 0;
}

.am-modal-button-group-v .am-modal-button {
    -webkit-touch-callout: none;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #108ee9;
    /*font-size: .32rem;*/
    height: 65px;
    line-height: 65px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

@media only screen and (max-width: 320px) {
    .am-modal {
        width: 250px;
    }
    .am-modal-button-group-v .am-modal-button {
        height: 50px;
        line-height: 50px;
    }
}

.am-modal.am-modal-operation .am-modal-content .am-modal-button {
    color: #000;
    text-align: start;
    padding-left: 15px;
}

.pay-item {
    height: 50px;
    margin-top: 10px;
    background-color: #fff;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    color: #484848;
    font-size: 15px;
    position: relative;
    border-bottom: 1px solid #ededed;
}

.pay-small-item {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #999;
    padding-left: 15px;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    margin-top: 10px;
}

.pay-item .pay-item-img {
    position: absolute;
    top: 13px;
    width: 24px;
    height: 24px;
}

.chose-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 14.5px;
    border: 1px solid #ededed;
}

.circle-icon {
    border-radius: 50%;
}

.pl34 {
    padding-left: 34px;
}

.pay-item.active .chose-icon {
    background-image: url(../images/xzta-icon.png?__inline);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 108%;
}

.mt0 {
    margin-top: 0 !important;
}

.am-list-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    min-height: 45px;
    background-color: #fff;
    vertical-align: middle;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    border-bottom: 1px solid #ededed;
}

.am-list-item.am-input-item {
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.am-list-item .am-input-label {
    color: #000;
    font-size: 15px;
    margin-left: 0;
    margin-right: 5px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.am-list-item .am-input-label.am-input-label-5 {
    width: 90px;
}

.am-list-item .am-input-control {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 15px;
}

.am-list-item .am-input-control input {
    color: #000;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    line-height: 1;
    box-sizing: border-box;
}

.am-list-item.am-list-item-middle .am-list-line {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.am-list-item .am-list-line {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-right: 15px;
    min-height: 45px;
    overflow: hidden;
}

.am-list-item .am-list-line .am-list-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #000;
    font-size: 15px;
    text-align: left;
}

.am-list-item .am-list-line .am-list-content, .am-list-item .am-list-line .am-list-extra {
    line-height: 1.5;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.am-list-item .am-list-line .am-list-content, .am-list-item .am-list-line .am-list-extra {
    line-height: 1.5;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.am-list-item .am-list-line .am-list-extra {
    -webkit-flex-basis: 36%;
    -ms-flex-preferred-size: 36%;
    flex-basis: 36%;
    color: #888;
    font-size: 15px;
    text-align: right;
}

.picker-list .am-list-item .am-list-line .am-list-extra {
    flex-basis: initial;
}

.am-list-item .am-list-line .am-list-arrow {
    display: block;
    width: 15px;
    height: 14px;
    margin-left: 15px;
    background-image: url(../images/r-tips.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    visibility: hidden;
}

.am-list-item .am-list-line .am-list-arrow-horizontal {
    visibility: visible;
}

.b-t-ed {
    border-top: 1px solid #ededed;
}

.b-b-ed {
    border-bottom: 1px solid #ededed;
}

.otherLogin {
    overflow: hidden;
    position: absolute;
    top: -12px;
    left: 0;
}

.pt35 {
    padding-top: 35px;
}

label.error {
    display: block;
    position: absolute;
    white-space: nowrap;
    right: 10px;
    top: 0;
    color: #f55555;
}

.bankcard-contariner {
    padding: 10px;
    padding-bottom: 0;
}

.bankcard-contariner .bankcard-item-wrap {
    padding-bottom: 10px;
}

.bankcard-contariner .bankcard-item {
    border-radius: 6px;
    background: url(../images/backcard_bg.png) no-repeat center;
    background-size: cover;
    position: relative;
}

.bankcard-item .bankcard-item-right {
    width: 100%;
    padding-left: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

.bankcard-item img {
    position: absolute;
    width: 50px;
    left: 20px;
    top: 30px;
}

.bankcard-item .bankcard-item-title, .bankcard-item .bankcard-item-number {
    font-size: 14px;
}

.bankcard-item .bankcard-item-sub-title {
    font-size: 12px;
    line-height: 1;
}

.bankcard-item .bankcard-delete {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 10px;
}

.classOne {
    overflow: hidden;
}

.classOne li {
    float: left;
    width: 20%;
    height: 71px;
    border-radius: 5px;
    font-size: 0.12rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.classOne li div {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.classOne li img {
    height: 47px;
    width: 47px;
}

.classOne li a {
    display: inline-block;
    width: 100%;
}

.classOne li p {
    width: 100%;
    min-width: 47px;
    height: 23px;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    white-space: nowrap;
}

@media only screen and (max-width: 320px) {
    .classOne li p {
        font-size: 12px;
    }
}

.consume-ul li:last-child {
    border-bottom: none;
}

.consume-ul li {
    position: relative;
}

.over-select {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.bankCardForm label.error {
    top: 10px;
}

.b_e_b {
    border-bottom: 1px solid #eee;
}

.b_e_t {
    border-top: 1px solid #eee;
}

.b_e_r {
    border-right: 1px solid #eee;
}

.detail-img {
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

#dzIcon {
    position: absolute;
    top: 7px;
    right: 10px;
}

.rDetail_wrap {
    line-height: 60px;
}

.rDetail_lab {
    top: 0;
    left: 15px;
    z-index: 999;
    line-height: 60px;
}

.rDetail_input {
    z-index: 99;
    padding-left: 100px;
    line-height: 1.2;
}

.rDetail_priceList {
    padding: 0 6px 0 7px;
}

.rDetail_priceList li {
    float: left;
    width: 100px;
    border: 1px solid #F64444;
    margin: 0 8px 15px 9px;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
    color: #F64444;
    font-size: 16px;
}

.rDetail_priceList li.active {
    background-color: #F64444;
    color: #fff;
}

@media only screen and (max-width: 320px) {
    .rDetail_priceList li {
        width: 85px;
        font-size: 14px;
        line-height: 35px;
    }
}

@media only screen and (min-width: 413px) {
    .rDetail_priceList li {
        width: 105px;
        line-height: 50px;
        margin: 0 15px 15px 15px;
    }
    .rDetail_priceList {
        padding: 0;
    }
}

.t0l0 {
    top: 0;
    left: 0;
}

.noticeW {
    height: 45px;
    overflow: hidden;
    position: relative;
}

.noticeW a {
    height: 100%;
}

.noticeWrap {
    width: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0;
    line-height: 0;
}

.noticeCon {
    height: 100%;
    padding-left: 40px;
    font-size: 13px;
}

.hook {
    display: inline-block;
    width: 0;
    height: 100%;
    overflow: hidden;
    margin-left: -1px;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
}

.noticeCon p {
    line-height: 1.4;
    display: inline-block;
    vertical-align: middle;
}

.productSpecs_wrap {
    padding: 0 20px 15px;
}

.productSpecs_wrap div.tit {
    width: 100%;
    padding: 15px 0 10px;
    font-size: 15px;
    display: block;
}

.productSpecs_wrap div.list {
    display: inline-block;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 3px 10px;
    color: #484848;
    margin-right: 15px;
    font-size: 13px;
}

.buy-cart-icon .infoIcon {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 999;
    background-color: #F64444;
}

.mhp254p {
    min-height: 254px;
}

.customizeW {
    border-radius: 10px;
    height: 100px;
    line-height: 100px;
    background-image: url(../images/矩形-1@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.customizeW img {
    width: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

.findNav li a img {
    width: 45px;
}
